body {
	background-color: #f0f0f0;
}
	
header {
	background-color: rgb(58, 89, 149);
	background: linear-gradient(180deg, #337ab7 0, #265a88 100%);
	box-shadow: 0 1px 3px #8888BB;
	height: 40px;
	margin-bottom: 5px;
}
		
nav ul {
	text-align: center;
	padding: 0;
}
		
nav li:not(:last-child):after {
	content: "";
	color: #333;
	border-left: 1px solid #eee;
	border-right: 1px solid #444;
	width: 0;
	margin-left: 5px;
}
		
nav li {
	list-style: none;
	display: inline-block;
	color: #eee;
	text-shadow: 1px 0 #444, -1px 0 #444, 0 1px #444, 0 -1px #444;
}
		
main, aside {
	background: #f8f8f8;
	border-radius: 3px;
	box-shadow: 0 0 3px #8888BB;
	padding: 3px 8px;
	color: #555;
}

#article_list article {
    padding: 5px 2px;
    border-bottom: 1px solid #ddd;
}

article div.category, article div.file {
    text-align: center;
}